<div *ngIf="artist">
	<header class="artist-header">
		<div *ngIf="artist.images.length > 0">
			<img src="{{artist.images[0].url}}" class="artist-thumb img-circle">
		</div>
		<h1>{{artist.name}}</h1>
		<p *ngIf="artist.genres.length > 0">
			Genres: <span class="label label-info label-genre" *ngFor="let genre of artist.genres">{{genre}}</span>
		</p>
	</header>
</div>

<div class="artist-albums">
	<div class="row">
		<div *ngFor="let album of albums">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="album well primary">
					<img src="{{album.images[0].url}}" alt="" class="album-thumb img-thumbnail">
					<h4>{{album.name}}</h4>
					<a routerLink="/album/{{album.id}}" class="btn btn-success btn-block">Album Detail</a>
				</div>
			</div>
		</div>
	</div>
</div>

